.estructura{
    display: grid;
    grid-template-columns: 0.16fr 4fr;
    /* grid-template-rows: 1fr 1fr 9fr; */
    grid-auto-rows: minmax(min-content, max-content);
    grid-template-areas: "navbar tituloPestania"
                         "navbar barraAcciones"
                         "navbar contenidoPestania";
}
.contenido{
    grid-area: contenidoPestania;
    display: grid;
}
.containerNavbar{
    grid-area: navbar;
    height: 10rem;
    width: inherit;
}
navbar{
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--color-darkbg);
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 8fr 1fr;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
}
navbar > img{
    margin: auto;
}
.navbarIcons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
a + a {
    margin-top: 1rem;
}
a{
    text-decoration: none;
}
.navbarIcons > a, navbar > a{
    display: grid;
    align-items: center;
    justify-content: center;
}
.navbarIcon{
    margin: auto;
    width: 2.5rem;
    height: 2.5rem;
    transition: all 0.4s ease;
}
.navbarIconCuenta{
    margin: 0 auto;
    width: 2rem;
    height: 2rem;
    transition: all 0.4s ease;
}
.navbarLogo{
    width: 3rem;
}
.navbarIcon:hover, .navbarIconCuenta:hover{
    transform: translateY(-15px);
}
.navbarIcon:hover + p, .navbarIconCuenta:hover + p{
    color: var(--color-lightbg);
}
.containerNavbar + .titulo{
    grid-area: tituloPestania;
    margin: 1rem;
    margin-bottom: 1rem;
}
.subtitulo{
    text-decoration: none;
    color: var(--color-darkbg);
    font-size: 12px;
    font-weight: bold;
    transition: color 0.4s ease;
    text-align: center;
}
.filtros{
    grid-area: barraAcciones;
    width: 100%;
    margin: 0;
    height: 7vh;
    display: grid;
    align-items: center;
    padding-left: 3rem;
    background-color: var(--color-mediumbg);
    display: flex;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.3); 
}