#buscador, .filtros > select{
    background-color: var(--color-bg);
    padding: 0.5rem;
    border: none;
    border-radius: 1rem;
    width: 5ch;
    height: 4vh;
    transition: all 0.4s ease-in-out;
}
#buscador{
    background-image: url("../img/iconos/search.svg");
    background-repeat: no-repeat;
    background-size: 3ch;
    background-position: center;
}
#buscador:focus{
    outline: none;
    color: black;
    width: 40ch;
    background-position: 35ch;
}