form{
    display: grid;
}
.containerInputs{
    padding: 3rem;
    display: grid;
    height: 80vh;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    border-top: 10px solid var(--color-mediumbg);
    background-color: var(--color-lightbg);
    border-radius: 0 0 2rem 2rem;
}
.col{
    width: 100%;
}
p{
    font-family: 'Exo';
    font-size: 24px;
    font-weight: 300;
    color: var(--color-mediumbg);
}
hr{
    margin: 0.5rem 0;
    border: 1px solid var(--color-orange);
}
input, select{
    padding: 0.5rem;
    height: 2.5rem;
    font-size: 20px;
    border: none;
    border-bottom: 2px solid var(--color-mediumbg);
    background-color: transparent;
    transition: all 0.1s ease-in;
}
input:focus{
    background-color: var(--color-bg);
    outline: none;
}
h3{
    margin-top: 2rem;
    font-family: 'Exo';
    opacity: 80%;
}
.col > input, select{
    display: block;
    width: 80%;
}
.col > button{
    margin: 0 auto;
}
.caracteristicasT{
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}
.caracteristicasT > input{
    width: 100%;
}
.overflow{
    overflow: scroll;
}
#agregarCaracteristica{
    background-color: transparent;
    width: 1.5rem;
    height: 1.5rem;
    font-size: 36px;
    border: none;
    transition: all 0.4s;
}
#agregarCaracteristica:hover{
    transform-origin: center;
    transform: scale(1.1);
    opacity: 60%;
}
.instancia{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.5rem;
    overflow-x: hidden;
}
.instancia > input, .instancia > select{
    width: 100%;
}

.indicacionesTresSubtitulos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.5rem;
}
.indicacionesDosSubtitulos{
    padding-left: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
}
.indicacionesTresSubtitulos > h3, .indicacionesDosSubtitulos > h3{
    font-size: 16px;
}
.tituloCheckbox{
    display: grid;
    grid-template-columns: 5fr 1fr;
}
input[type='checkbox']{
    width: 40%;
    background-color: transparent;
    border-radius: 0.5rem;
    border: solid 2px var(--color-mediumbg);
}
input:disabled, select:disabled{
    background-color: var(--color-bg);
}