.estructuraSideBar{
    display: grid;
    grid-template-columns: 1.1fr 4fr;
    grid-auto-rows: minmax(min-content, max-content);
    grid-template-areas: "navbar tituloPestania"
                         "navbar barraAcciones"
                         "navbar contenidoPestania";
}
.insumoSidebar{
    /* grid-area: navbar; */
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--color-darkbg);
   display: grid;
   grid-template-rows: 1fr 1fr 1fr;
}
.insumoSidebar a{
    width: 3rem;
}
.insumoSidebar input, .insumoSidebar select{
    color: var(--color-lightbg);
    width: 100%;
    font-size: 16px;
    padding: 0.5rem;
    background-color: transparent;
    border: none;
    border-bottom: solid 2px var(--color-mediumbg);
}
.containerInputs{
    width: 100%;
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}
h3, h4{
    color: var(--color-gray);
}
h3{
    margin-left: 1rem;
}
/* form + h1{
    grid-area: tituloPestania;
    margin: 1rem 0 1rem 21rem;
}
h1 + .filtros{
    margin-left: 20.2rem;
}
.filtros + .contenido{
    margin-left: 20.2rem;
} */
.input{
    height: 4rem;
}
.insumoSidebar option{
    background-color: var(--color-mediumbg);
}
.insumoSidebar input:focus{
    outline: none;
    background-color: var(--color-mediumbg);
}
.btnVolver{
    width: 3rem;
    height: 3rem;
    transition: all 0.5s;
}
.btnVolver:hover{
    transform: scale(0.8);
}
.superior{
    display: grid;
    grid-template-rows: 0.5fr 3fr;
    padding: 1rem;
    gap: 1rem;
}
.imagen{
    margin:auto;
    width: 250px;
    height: 250px;
    border-radius: 1rem;
}
.btnModificar{
    margin: 2rem auto ;
    width: 8rem;
    height: 3rem;
    font-size: 1.2rem;
    border: none;
    outline: none;
    border-radius: 1.5rem;
    color: var(--color-lightbg);
    background-color: var(--color-mediumbg);
    transition: all 0.2s ease;
}
.btnModificar:hover{
    opacity: 80%;
}
.stockMinActual{
    display: grid;
    grid-template-areas: 'titulo titulo'
                         'input1 input2';
}
.stockMinActual h4{
    grid-area: titulo;
}
.stockMinActual input{
    width: 80%;
}
.stockMinActual input:first-of-type{
    grid-area: input1;
}
.stockMinActual input:last-of-type{
    grid-area: input2;
}

.btnInsumo:disabled{
    background-color: #ff4b3744;
}
.errorInputInsumo,.errorInputInstancia{
    background-color: #ff4b3725 !important;
    border-color: var(--color-red) !important;
    border-radius: 0.4rem 0.4rem 0 0 ;
}