.popup{
    padding: 1rem;
    color: var(--color-mediumbg);
    display: grid;
    gap: 1rem;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--color-lightbg);
    border-radius: 1.5rem;
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.363);
    z-index: 10;
}
.popupHead{
    /* display: grid;
    grid-template-columns: 6fr 1fr;
    align-items: center;
    justify-content: center; */
    position: relative;
    padding-right: 2rem;
    padding-left: 2rem;
}
.popupHead > h1{
    font-size: 36px;
}
.popupInputs h2{
    font-family: 'Exo';
}
/* #closePopup{
    position: absolute;
    right: 0;
    top: 0;
    text-align: center;
    font-size: 24px;
    font-weight: bolder;
} */
.popup  hr{
    border: 1px solid var(--color-darkbg);
}
.popupInputs input, .popupInputs select{
    width: 80%;
    padding: 0.5rem;
    height: 2.5rem;
    font-size: 20px;
    border: none;
    border-bottom: 2px solid var(--color-mediumbg);
    background-color: transparent;
    transition: all 0.1s ease-in;
}
.popupBtnConfirmar, .popupBtnCancelar{
    background-color: var(--color-mediumbg);
    color: var(--color-lightbg);
    width: 50%;
    border: none;
    outline: none;
    font-size: 20px;
    padding: 0.5rem;
    border-radius: 0.6rem;
    transition: all 0.2s ease;
}
.popupBtnConfirmar:hover, .popupBtnCancelar:hover{
    opacity: 80%;
}
.popupBtnCancelar{
    background-color: var(--color-red);
}
.blurr{
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--color-darkbg);
    opacity: 30%;
    z-index: 0;
    transition: background-color 0.4s;
}
.botonesPopup{
    display: flex;
}
.botonesPopup button + button{
    margin-left: 1rem;
}
.popup textarea{
    padding: 0.5rem;
    font-size: 1rem;
    font-family: 'Roboto';
    font-weight: 500;
    color: var(--color-mediumbg);
    width: 50ch;
    height: 25ch;
    border: none;
    border-bottom: 0.3rem solid var(--color-mediumbg);
    outline: none;
    resize: none;
    background-color: var(--color-bg);
    border-radius: 1rem;
}
.bigPopup{
    width: 60%;
}
.formPrestamo{
    display: grid;
    grid-template-areas: 'general selector'
                         'general seleccionados';
    gap: 2rem;
}
.infoGeneral{
    grid-area: general;
}
.insumosSeleccionados{
    grid-area: seleccionados;
}
.selectorDeInsumos{
    grid-area: selector;
}
.selectorDeInsumos button{
    float: right;
}
.formPrestamo hr{
    margin: 0.5rem 0;
    border: 1px solid var(--color-orange);
}
.infoGeneral textarea{
    width: 100%;
}
input[type="radio" i],input[type="checkbox" i] {
    width: 1rem;
}
input[type="number" i] {
    width: 5rem;
}
.optionInstanciaCantidad{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.insumosSeleccionados{
    height: 250px;
}
.insumoSeleccionado{
    padding-right: 1rem;
    padding-left: 0.3rem;
}
.insumoSeleccionado:hover{
    background-color: var(--color-bg);
}
/* .insumosSeleccionados, .selectorDeInsumos{
    background-color: var(--color-bg);
    padding: 0.5rem;
    border-radius: 1rem;
} */
.btnEliminarMini{
    width: 1.3rem;
    height: 1.3rem;
    background-color: var(--color-red);
    border-radius: 50%;
    border:none;
    outline: none;
    color: var(--color-lightbg);
    text-align: center;
}