.tabla{
    margin: 2rem auto;
    display: grid;
    width: 90%;
    grid-auto-rows: minmax(min-content, max-content);
}
.cabecera{
    padding: 1rem;
    padding-left: 0.3rem;
    width: 100%;
}
.cabecera > p {
    opacity: 30%;
    font-weight: bold;
}
hr{
    margin: 0.5rem 0;
    border: 1px solid var(--color-orange);
}
.items{
    width: 100%;
}
.insumos{
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 2fr 2fr 2fr 1fr 0.3fr;
}
.stockBajo{
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 2fr 2fr 2fr 2fr ;
}
.insumosFallados{
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 2fr 2fr 2fr 2fr 1fr;
}
.insumoPrestamo{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 0.5fr;
}
.stockBajo a{
    width: 70%;
}
.imagenInsumoTabla{
    width: 4rem;
    height: 4rem;
    background-color: var(--color-mediumbg);
    border-radius: 1rem;
    background-position: center;
}
.instancias{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 0.5fr 0.2fr;
}
.item input, .item select{
    width: 100%;
    font-size: 16px;
    padding: 0.5rem;
    background-color: transparent;
    border: none;
    border-bottom: solid 2px var(--color-mediumbg);
}
.insumoForm{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 0.5fr 0.2fr;
    width: 100%;
}
.compras{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 0.2fr;
}
.marcas{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.item{
    margin: 0.2rem 0 0 0;
    font-size: 20px;
    border-left: solid 0.4rem var(--color-orange);
    transition: all 0.4s;
}
.btnEliminar{
    background-color: var(--color-red);
    border-radius: 0.7rem;
    border: none;
    outline: none;
    color: var(--color-lightbg);
    font-weight: bolder;
    height: 2rem;
    width: 2rem;
    transition: all 0.2s ease;
}
.btnEliminar:hover{
    border-radius: 1rem;
    opacity: 80%;
}
.btnBorder{
    background-color: transparent;
    border-radius: 0.7rem;
    border: solid 0.3rem var(--color-orange);
    outline: none;
    color: var(--color-orange);
    font-weight: bolder;
    transition: all 0.2s ease;
}
.existo{
    width: 2rem;
}
.unBoton{
    display: grid;
    grid-template-columns: 1fr 0.01fr;
    align-items: center;
}
.headerItem{
    padding: 1rem;
    padding-left: 0.3rem;
    align-items: center;
}
.item:hover{
    background-color: var(--color-lightbg);
    border-radius: 0 2rem 2rem 0;
}
a > p{
    color: var(--color-darkbg);
}

.tripleCol{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem; 
}
.instanciaCard{
    margin-top: 2rem;
    display: grid;
    grid-template-areas: 'instancia instancia'
                         'infoCompra garantia';
                         /* 'btn btn'; */
    gap: 1rem; 
    justify-items: center;
}
.compraCard{
    margin-top: 2rem;
    display: grid;
    grid-template-areas: 'infoCompra garantia';
                         /* 'btn btn'; */
    gap: 1rem; 
    justify-items: center;
}
.compraCard .btnModificar, .instanciaCard .btnModificar{
    margin: 0;
    float: right;
    /* grid-area: btn; */
}
.infoInstancia{
    width: 70%;
    grid-area: instancia;
}
.infoCompra{
    width: 90%;
    grid-area: infoCompra;
}
.infoGarantia{
    width: 90%;
    grid-area: garantia;
}
.item  input, .item  select, .popup input{
    color: var(--color-mediumbg);
    font-size: 16px;
}
.item  input:focus, .item  select:focus, .item  option, .popup input:focus{
    background-color: var(--color-bg);
}
.division5050{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.informacion{
    margin: 2rem auto;
    padding: 1rem;
    width: 80%;
    height: 75vh;
    background-color: var(--color-lightbg);
    border-radius: 3rem;
}


.prestamo{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
.prestamoCard{
    display: grid;
    height: 350px;
    grid-template-columns: 1fr 2fr;
    gap: 2rem;
    padding: 2rem;
}
.seccionPrestamo, .razonPrestamo{
    background-color: var(--color-bg);
    border-radius: 1rem;
}
.razonPrestamo{
    width: 100%;
    border: none;
    outline: none;
    resize: none;
}
.btnFalla{
    width: 2rem;
    height: 2rem;
    border-radius: 40%;
    text-align: center;
    font-weight: bolder;
    font-size: 1rem;
   transition: all 0.2s ease;
}
.noActiva{
    color: var(--color-orange);
    background-color: transparent; 
    border: 0.2rem solid var(--color-orange); 
}
.activa{
    color: var(--color-red);
    background-color: transparent; 
    border: 0.2rem solid var(--color-red);  
}
.noActiva:hover{
    background-color: #ff7d3769;
    border-radius: 50%;
}
.activa:hover{
    background-color: #ff4b3762;
    border-radius: 50%;
}


.clases{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.empleados{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr ;
}

.insumosEnSubinventarios{
    display: grid;
    grid-template-columns: 1fr 1fr 0.5fr;
}
.fallaSubinventario{
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr;
}
.subInventario > .item:hover{
    background-color: var(--color-bg);
}
.insumoSubinventarioCard{
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr;
    width: 100%;
}